{% extends 'navbar.html' %}

  {% block content %}
    <div class="container pt-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="col-5 shadow p-0 mx-auto">
                <div class="alert alert-success text-center"><h3>SIGN UP</h3></div>
                
                <div class="p-4">
                    {{form.as_p}}
                    <hr>
                    <input type="submit" class="btn btn-success mt-2" value="Create an Account">
                </div>
            </div>
        </form>
    </div>
{% endblock %}